<div class="store">
  <div class="block_title">Bizning do'konlar</div>
    <div class="logos">
      <div class="logos-slide">
        <img src="../../../../assets/images/carausel-shops/icons8-amazon.svg" />
        <img src="../../../../assets/images/carausel-shops/icons8-apple.svg" />
        <img src="../../../../assets/images/carausel-shops/icons8-ebay.svg" />
        <img src="../../../../assets/images/carausel-shops/icons8-iherb.svg" />
        <img src="../../../../assets/images/carausel-shops/icons8-microsoft.svg" />
        <img src="../../../../assets/images/carausel-shops/icons8-uniqlo.svg" />
        <img src="../../../../assets/images/carausel-shops/icons8-nike.svg" />
        <img src="../../../../assets/images/carausel-shops/icons8-walmart.svg" />
      </div>
    </div>
</div>
