.services{
  width: 100%;
  .header{
    width: 100% !important;
    position: relative;
    img{
      width: 100% !important;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    div{
      position: absolute;
      top: 0;
      width: 100% !important;
      height: 100% !important;
      background-color: #000000;
      opacity: 0.7;
      z-index: 1;
      h1{
        text-align: center;
        z-index: 4;
        color: #fff;
        margin-top: 10%;
      }
    }
  }
}
