<div class="services">
  <div class="header">
    <img src="../../../../assets/images/contacts/blog-page-img-3 1.png" alt="">
    <div>
      <h1>{{'doslogistic.web.navbar.services' | translate}}</h1>
    </div>
  </div>
  <div class="content">
    <h2>Welcome to DostLogistic</h2>
    <div class="service-info">
        <p>Ridiculus mus mauris vitae ultricies leo. Sed elementum tempus
            egestas sed sed risus pretium quam. Dignissim cras tincidunt
            lobortis feugiat. Eget gravida cum sociis natoque penatibus
            . Felis donec et odio pellentesque diam volutpat commodo
            sed egestas. Mattis pellentesque id nibh tortor. Sociis
            natoque penatibus et magnis dis parturient montes
            nascetur ridiculus. Pharetra pharetra massa massa
            ultricies mi quis hendrerit dolor magna. Amet cursus sit amet
            dictum sit amet justo donec enim. Rutrum quisque non
            tellus orci. Nisl tincidunt eget nullam non nisi est.
            Ultricies mi eget mauris pharetra et ultrices neque
            ornare. Mollis nunc sed id semper risus in hendrerit.
        </p>
        <img src="../../../../assets/images/services/service-1.png" alt="">
    </div>
  </div>

</div>
