<div class="services">
  <div class="header">
    <img src="../../../../assets/images/contacts/blog-page-img-3 1.png" alt="">
    <div>
      <h1>{{'doslogistic.web.navbar.services' | translate}}</h1>
    </div>
  </div>
  <div class="middle-container">
  <div class="content">
    <h2>Welcome to DostLogistic</h2>
    <div class="service-info">
        <p>Ridiculus mus mauris vitae ultricies leo. Sed elementum tempus
            egestas sed sed risus pretium quam. Dignissim cras tincidunt
            lobortis feugiat. Eget gravida cum sociis natoque penatibus
            . Felis donec et odio pellentesque diam volutpat commodo
            sed egestas. Mattis pellentesque id nibh tortor. Sociis
            natoque penatibus et magnis dis parturient montes
            nascetur ridiculus. Pharetra pharetra massa massa
            ultricies mi quis hendrerit dolor magna. Amet cursus sit amet
            dictum sit amet justo donec enim. Rutrum quisque non
            tellus orci. Nisl tincidunt eget nullam non nisi est.
            Ultricies mi eget mauris pharetra et ultrices neque
            ornare. Mollis nunc sed id semper risus in hendrerit.
        </p>
        <img src="../../../../assets/images/services/service-1.png" alt="">
    </div>
  </div>
  <div class="info">
    <h1>We offer diverse services</h1>
  </div>
  <div class="service-container">
    <div class="service-content">
      <img src="../../../../assets/images/register/registered (2).png" alt="">
      <h3 [innerHTML]="'doslogistic.web.home.howdoesItWork.register.register' | translate"></h3>
      <p>Sit amet est placerat in egestas
        erat imperdiet sed euismod.
        Risus nec feugiat in fermentum
        posuere urna nec tincidunt.
        Luctus accumsan tortor posuere
        ac ut consequat. Rhoncus aenean
        vel elit scelerisque mauris.</p>
    </div>
    <div class="service-content">
      <img src="../../../../assets/images/register/online-shop (1).png" alt="">
      <h3>{{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}</h3>
      <p>Sit amet est placerat in egestas
        erat imperdiet sed euismod.
        Risus nec feugiat in fermentum
        posuere urna nec tincidunt.
        Luctus accumsan tortor posuere
        ac ut consequat. Rhoncus aenean
        vel elit scelerisque mauris.</p>
    </div>
    <div class="service-content">
      <img src="../../../../assets/images/register/purchasing.png" alt="">
      <h3>{{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}</h3>
      <p>Sit amet est placerat in egestas
        erat imperdiet sed euismod.
        Risus nec feugiat in fermentum
        posuere urna nec tincidunt.
        Luctus accumsan tortor posuere
        ac ut consequat. Rhoncus aenean
        vel elit scelerisque mauris.
      </p>
    </div>
    <div class="service-content">
      <img src="../../../../assets/images/register/purchasing.png" alt="">
      <h3>{{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}</h3>
      <p>Sit amet est placerat in egestas
        erat imperdiet sed euismod.
        Risus nec feugiat in fermentum
        posuere urna nec tincidunt.
        Luctus accumsan tortor posuere
        ac ut consequat. Rhoncus aenean
        vel elit scelerisque mauris.
      </p>
    </div>
    <div class="service-content">
      <img src="../../../../assets/images/register/purchasing.png" alt="">
      <h3>{{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}</h3>
      <p>Sit amet est placerat in egestas
        erat imperdiet sed euismod.
        Risus nec feugiat in fermentum
        posuere urna nec tincidunt.
        Luctus accumsan tortor posuere
        ac ut consequat. Rhoncus aenean
        vel elit scelerisque mauris.
      </p>
    </div>
    <div class="service-content">
      <img src="../../../../assets/images/register/purchasing.png" alt="">
      <h3>{{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}</h3>
      <p>Sit amet est placerat in egestas
        erat imperdiet sed euismod.
        Risus nec feugiat in fermentum
        posuere urna nec tincidunt.
        Luctus accumsan tortor posuere
        ac ut consequat. Rhoncus aenean
        vel elit scelerisque mauris.
      </p>
    </div>
  </div>
</div>
  <!--  -->
  <div class="background">
    <img src="../../../../assets/images/contacts/blog-page-img-3 1.png" alt="">
    <div class="backgroun-header">
      <h1>Moving & Hiring Services</h1>
      <p>Donec ac odio tempor orci dapibus ultrices in. Sit amet commodo
        nulla facilisi nullam vehicula. Tristique et egestas quis ipsum
       suspendisse ultrices gravida dictum.
      </p>
    </div>
  </div>
  <div class="middle-container">
  <div class="contact-us">
    <h1>We offer diverse services</h1>
    <p>“Duis at tellus at urna condimentum mattis  pellentesque. Quam lacus suspendisse
      faucibus interdum posuere. Blandit volutpat maecenas volutpat blandit aliquam etiam erat”
    </p>
    <h1>Call us now +233-384-89489 </h1>
  </div>
</div>
  <!--  -->
</div>
