<div class="collapce">
    <h1>Others</h1>
  <div class="row">
  
  <div class="col md-3">
    <div class="card">
      <a href="/">
        <div class="photo">
          <img class="images" src="./assets/images/shops/jetPens.jpg" alt="">
        </div>
        <div class="text">
          JetPens
          <div class="space"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col md-3">
    <div class="card">
      <a href="/">
        <div class="photo">
          <img class="images" src="./assets/images/shops/abeBooks.jpg" alt="">
        </div>
        <div class="text">
          abeBooks
          <div class="space"></div>
        </div>
      </a>
    </div>
  </div>
  
  
  
  
  </div>
  </div>