<div class="container">
  <div class="content">
    <div class="logo"><h1>Logo</h1></div>
    <p>{{'doslogistic.web.navbar.price' | translate}}</p>
    <p>{{'doslogistic.web.navbar.services' | translate}}</p>
    <p>{{'doslogistic.web.navbar.Shops' | translate}}</p>
    <p>{{'doslogistic.web.navbar.aboutUs' | translate}}</p>
    <p>{{'doslogistic.web.navbar.reviews' | translate}}</p>
    <p>{{'doslogistic.web.navbar.contacts' | translate}}</p>
    <p>{{'doslogistic.web.navbar.help' | translate}}</p>
    <div class="langu">
      <app-language></app-language>
      <p>{{'doslogistic.web.home.language' | translate}}</p>
    </div>
    <div class="auth">
      <button>{{'doslogistic.web.navbar.login' | translate}}</button>
      <button>{{'doslogistic.web.navbar.register' | translate}}</button>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->

