.container {
  width: 100%;
  height: 70px;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.75rem;
}

.logo-details {
  font-size: 30px;
  cursor: pointer;

  i {
    color: #A9592C;
  }

  span {
    color: #A9592C;
  }
}

.content {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0 10px !important;
}

.content p {
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  transition: color 0.3s ease;
  position: relative;
  cursor: pointer;

  &:hover {
    color: #A9592C;
    text-decoration: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #A9592C;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.nav-pages {
  display: flex;
  position: relative;
  left: 25px;
  gap: 25px;
}

.logo {
  font-size: 13px;
  position: relative;
  bottom: 8px;

  h1 {
    margin: 0;
  }
}

.langu {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  position: relative;

  p {
    cursor: default;
    position: relative;
    top: 8px;
  }

  p:hover {
    color: var(--bs-dark);
  }
}

.content p.no-underline {
  position: relative;

  &::after {
    content: none;
  }

  text-decoration: none;
}

.auth {
  display: flex;
  gap: 10px;
  padding-bottom: 11px;
  position: relative;
  left: 18px;
}

.auth button {
  background-color: #A9592C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  height: 36px;
  text-align: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

.auth button:hover {
  background-color: #7a4020;
}

@media (max-width: 576px) {
  .nav-pages {
    display: none;
  }

  .logo h1 {
    font-size: 18px;
  }

  .langu {
    padding: 0;
  }

  .auth {
    display: none;
  }

  .auth button {
    width: auto;
    padding: 0 10px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .content {
    padding-top: 12px;
  }

  .nav-pages {
    gap: 15px;
  }

  .content p {
    font-size: 14px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .auth button {
    font-size: 0.9rem;
  }
}

@media (min-width: 993px) {
  .content {
    padding-top: 20px;
  }

  .nav-pages {
    gap: 30px;
  }

  .content p {
    font-size: 16px;
  }

  .logo h1 {
    font-size: 22px;
  }

  .auth button {
    font-size: 1.1rem;
  }
}