<div class="container">
  <div class="content">
    <div class="left">
      <div class="div" routerLinkActive="active-link" [routerLink]="['address-ger']">
        <img src="../../../../../assets/images/countries/icons8-germany-48.png" alt="" />
        <p>Germaniya</p>
      </div>
      <div class="div" routerLinkActive="active-link" [routerLink]="['address-poland']">
        <img src="../../../../../assets/images/countries/icons8-poland-48.png" alt="" />
        <p>Polsha</p>
      </div>
    </div>
    <div class="right">
      <ng-container>
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </div>
</div>