.container{
  height: 560px;
}

[nz-carousel-content] {
  text-align: center;
  height: 560px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

img{
  width: 100%;
  object-fit: center;
  position: relative;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

// slick-dots slick-dots-bottom ng-star-inserted
::ng-deep .slick-dots{
  justify-content: end !important;
  position: absolute !important;
  bottom: 20% !important;
}

.service_info {
	padding: 30px 47px 54px 63px;
  z-index: 1111;
  position: absolute;
  top: 200px;
  left: 200px;
	border-radius: 32px;
	transform: translateY(120px);
	display: inline-block;
	border: 1px solid var(--Primary, #058C42);
	background: var(--White, #FFF);
	box-shadow: 0px 10px 32px 0px rgba(167, 201, 87, 0.20), 0px 2px 12px 0px rgba(167, 201, 87, 0.12);
}

.service_info .title {
	color: var(--Primary, #058C42);
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 16px;
}
.service_info .desc {
	color: var(--Border-Color, #5F5F5F);
	font-size: 20px;
	margin-bottom: 16px;
}
.service_info .main_button {
	margin-left: 0;
  margin-top: 30px !important;
}

.main_button a {
	color: var(--White, #FFF);
	padding: 12px 24px;
	border-radius: 16px;
	background: var(--Primary, #058C42);
}
