.container {
  position: relative;
  max-height: 500px;
}

[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
  height: 500px;
}

.div {
  position: absolute;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: #000000;
  opacity: 0.7;
  z-index: 1;
}

::ng-deep .slick-list{
  max-height: 500px !important;
}

.icon-button{
  height: 100%;
  width: 15%;
  z-index: 7;
  position: absolute;
  top: 0;
}

.left{
  left: 0;
}

.right{
  right: 0;
}

.image {
  width: 100% !important;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

span {
  position: absolute;
  top: 48%;
  z-index: 6;
  border: none;
  cursor: pointer;
  height: 35px;
  width: 35px;
  display: none;
}

.next {
  right: 60%;
}

.prev {
  left: 60%;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

.icon-button:hover{
  span{
    display: block;
  }
}
