<div class="container">
  <div class="content">
    <div class="text-info">
      <h1 class="text-show">We can move you <br> evrywhere.<span> Fast<br>and Easily</span></h1>
      <h1 class="text-hidden">We can move you <br> evrywhere.<span> Fast and Easily</span></h1>
      <p>
        {{'doslogistic.web.aboutUs.info' | translate}}
        {{'doslogistic.web.footer.logo.info' | translate}}
      </p>
      <h2 class="text-bottom">{{'doslogistic.web.aboutUs.info2' | translate}}</h2>
      <div class="button">
        <button>Book now</button>
      </div>
    </div>
    <div class="image-section">
      <div class="image">
        <img src="../../../../assets/images/carusel/delivery-1 1 (1).png" alt="img">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="our-clients">Our clients</div>
    <div class="carausel">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/abeBooks.jpg" alt="img 1" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/amazon.png" alt="img 2" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/apple.png" alt="img 3" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/asos.jpg" alt="img 4" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/b_h.png" alt="img 5" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/carters.jpg" alt="img 6" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/dolls-kill.jpeg" alt="img 7" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/ebay.png" alt="img 8" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/farfetch.png" alt="img 9" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/full-compass.jpg" alt="img 10" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/h_m.jpg" alt="img 11" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/iHerb.png" alt="img 12" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/jetPens.jpg" alt="img 13" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/mango.jpg" alt="img 14" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/nike.jpg" alt="img 15" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/nordstrom.jpg" alt="img 16" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/rack.png" alt="img 17" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/sephora.jpg" alt="img 18" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/uniqlo.png" alt="img 19" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/walmart.png" alt="img 20" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="../../../../assets/images/shops/yoox.png" alt="img 21" />
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="all">
      <button routerLink="/shops">Barchasini Korish</button>
    </div>
  </div>
</div>