<div class="container">
  <div class="left icon-button" (click)="prevSlide()">
    <span class="prev" (click)="prevSlide()"><img src="../../../assets//images/carusel/back.png" alt=""></span>
  </div>
  <nz-carousel nzAutoPlay>
    <div nz-carousel-content *ngFor="let imagePath of array">
      <img  class="image" [src]="imagePath" alt="Carousel Image">
    </div>
  </nz-carousel>
 <div class="div"></div>
 <div class="right icon-button" (click)="nextSlide()">
   <span class="next" (click)="nextSlide()"><img src="../../../assets/images/carusel/next (1).png" alt=""></span>
 </div>
</div>
