<div class="container">
  <div class="content">
    <div class="text-info">
        <h1 class="text-show">We can move you <br> evrywhere.<span> Fast<br>and Easily</span></h1>
        <h1 class="text-hidden">We can move you <br> evrywhere.<span> Fast and Easily</span></h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo quasi tempora aliquam reprehenderit dolorem sequi asperiores itaque, assumenda ab harum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere recusandae enim, temporibus unde fuga molestias beatae sapiente obcaecati officiis? Vero quam iste rem aut assumenda eveniet repellendus voluptatum nobis commodi!</p>
        <div class="button">
          <button>Book now</button>
        </div>
    </div>
    <div class="image-section">
        <div class="image">
          <img src="../../../../assets/images/carusel/delivery-1 1 (1).png" alt="img">
        </div>
    </div>
  </div>
  <div class="card"></div>
</div>
