@media screen and (max-width: 434px) {
  .container {
    max-width: 100% !important;

    h2 {
      font-size: 25px !important;
    }
  }

  .page-routing {
    justify-content: center;
    border: none;
    margin-bottom: 0;

    p {
      font-size: 17px;

      &::before {
        height: 0px !important;
      }
    }
  }
}
