<section class="container forms">
  <div class="form signup">
    <div class="form-content">
      <header>Введите информацию</header>
      <form action="#">
        <div class="field input-field">
          <input type="email" placeholder="Ваш эл. адрес*" class="input" />
        </div>
        <div class="field input-field">
          <input
            type="password"
            placeholder="Пароль*"
            class="password"
          />
        </div>
        <div class="field input-field">
          <input
            type="password"
            placeholder="Повторите пароль*"
            class="password"
          />
          <i class="fas fa-eye-slash"></i>
        </div>
        <div class="field input-field">
          <input type="number" type="tel" placeholder="Номер телефона" 
          (click)="onPhoneNumberClick($event)" maxlength="13" />
        </div>
        <div class="field button-field">
          <button>Зарегистрироваться</button>
        </div>
      </form>
      <div class="form-link">
        <span
          >У вас уже есть аккаунт? 
          <a href="#" class="link login-link">Авторизоваться</a></span
        >
      </div>
    </div>
    <div class="line"></div>
    <div class="media-options">
      <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=374271096632677&kid_directed_site=0&app_id=374271096632677&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fv3.0%2Fdialog%2Foauth%3Fclient_id%3D374271096632677%26redirect_uri%3Dhttps%253A%252F%252Fuz.globbing.com%252Fen%252Fregister%252Ffacebook%252Fcallback%26scope%3Demail%26response_type%3Dcode%26state%3DkZrrZ6aOhvvKemK9DeHLK5q2RE2PVTXFBn6KZNHf%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3D7becec6c-cc08-4fac-9907-3b29da6a112c%26tp%3Dunspecified&cancel_url=https%3A%2F%2Fuz.globbing.com%2Fen%2Fregister%2Ffacebook%2Fcallback%3Ferror%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%26state%3DkZrrZ6aOhvvKemK9DeHLK5q2RE2PVTXFBn6KZNHf%23_%3D_&display=page&locale=ru_RU&pl_dbl=0" class="field facebook">
        <img
          src="../../../../assets/images/register/Facebook-logo (1).png"
          alt=""
          class="google-img"
        />
        <span>Login with Facebook</span>
      </a>
    </div>
    <div class="media-options">
      <a href="https://accounts.google.com/o/oauth2/auth/oauthchooseaccount?client_id=313605343145-o0sltpksguo9mjtl8fkblgni9fpndmdh.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fuz.globbing.com%2Fen%2Fregister%2Fgoogle%2Fcallback&scope=openid%20profile%20email&response_type=code&state=IaAWjIRzp8XEeBSm7KWtu9JpMzWkMbF9GiBzGXtn&service=lso&o2v=1&flowName=GeneralOAuthFlow" class="field google">
        <img
          src="../../../../assets/images/register/google-logo.png"
          alt=""
          class="google-img"
        />
        <span>Login with Google</span>
      </a>
    </div>
  </div>
</section>
