<section class="container forms">
  <div class="form signup">
    <div class="form-content">
      <header>Введите информацию</header>
      <form action="#">
        <div class="field input-field">
          <input type="email" placeholder="Ваш эл. адрес*" class="input" />
        </div>
        <div class="field input-field">
          <input [type]="isEditMode ? 'password' : (showPassword ? 'text' : 'password')"
                placeholder="Пароль*"  [readonly]="isEditMode" />
                <span *ngIf="!isEditMode" (click)="toggleShowPassword()" class="password-icon">
                  <i class="{{ showPassword ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
                </span>
        </div>
        <div class="field input-field">
          <input
            type="password"
            placeholder="Повторите пароль*"
            class="password"
          />
        </div>
        <div class="field input-field">
          <input type="number" type="tel" placeholder="Номер телефона" 
          (click)="onPhoneNumberClick($event)" maxlength="13" />
        </div>
        <div class="field button-field">
          <button>Зарегистрироваться</button>
        </div>
      </form>
      <div class="form-link">
        <span
          >У вас уже есть аккаунт? 
          <a href="#" class="link login-link">Авторизоваться</a></span
        >
      </div>
    </div>
    <div class="line"></div>
    <!-- <div class="media-options">
      <a href="">
        <img
          src="../../../../assets/images/register/Facebook-logo (1).png"
          alt=""
          class="google-img"
        />
        <span>Login with Facebook</span>
      </a>
    </div> -->
    <div class="media-options">
      <a href="" class="field google">
        <img
          src="../../../../assets/images/register/google-logo.png"
          alt=""
          class="google-img"
        />
        <span>Login with Google</span>
      </a>
    </div>
  </div>

<ul class="register_container">
    <form action="#">
      <div class="register_item">
        <p>Зарегистрируйтесь и получите свои адреса в Германия</p>
      </div>
      <i class="fas fa-arrow-down"></i>
      <div class="register_item">
        <p>Покупайте онлайн в Германия используя свои адреса, как адреса доставки</p>
      </div>
      <i class="fas fa-arrow-down"></i>
      <div class="register_item">
        <p>Забирайте посылки через 5-10 дней в Узбекистане</p>
      </div>

    </form>
</ul>
</section>
