<div class="main-container">
  <div class="register">
    <div class="page-moving">
      <a routerLink="/login" routerLinkActive="active-link">{{'doslogistic.web.help.login.kirish' | translate}}</a>
      <a routerLink="/register" routerLinkActive="active-link">{{'doslogistic.web.help.login.login' | translate}}</a>
    </div>    
    <div class="input-field">
      <input type="email" placeholder="Ваш эл. адрес*" class="input-style" />
    </div>
    <div class="input-field">
      <input [type]="showPassword ? 'text' : 'password'" placeholder="Пароль" class="input-style" />
      <span (click)="togglePasswordVisibility()" class="eye-icon">
        <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
      </span>
    </div>
    <div class="input-field">
      <input [type]="showRepeatPassword ? 'text' : 'password'" placeholder="Повторите пароль" class="input-style" />
      <span (click)="toggleRepeatPasswordVisibility()" class="eye-icon">
        <i class="fas" [ngClass]="showRepeatPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
      </span>
    </div>
    <div class="input-field">
      <input type="tel" id="mobile_code" placeholder="Номер телефона" name="phone" class="input-style">
    </div>
    <div class="terms-of-use">
      <label nz-checkbox [(ngModel)]="checked"></label>
      <p>Я принимаю</p>
      <a>Условия и Положения</a>
    </div>
    <div class="register-button">
      <button>Зарегистрироваться</button>
    </div>
    <div class="line-or">
      <span class="line-text">или</span>
    </div>
    <div class="register-google">
      <button> <img src="../../../../assets/images/register/google-logo.png" alt="" />Зарегистрироваться c Google</button>
    </div>
  </div>
</div>