<div class="main-container">
  <div class="register">
    <h3>Введите информацию</h3>
    <div class="input-field">
      <input type="email" placeholder="Ваш эл. адрес*" class="input-style" />
    </div>
    <div class="input-field">
      <input [type]="showPassword ? 'text' : 'password'" placeholder="Пароль" class="input-style" />
      <span (click)="togglePasswordVisibility()" class="eye-icon">
        <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
      </span>
    </div>
    <!-- <div class="input-field">
      <input type="tel" id="mobile_code" placeholder="Номер телефона" name="phone" class="input-style">
    </div> -->
    <div class="terms-of-use">
      <div class="terms-style">
        <label nz-checkbox [(ngModel)]="checked"></label>
        <p>Запомнить меня</p>
      </div>
      <a>Забыли пароль?</a>
    </div>
    <div class="register-button">
      <button>Aвторизоваться</button>
    </div>
    <div class="dont-have-account">
      <p>У вас нет учетной записи?</p>
      <a href="/register">Зарегистрироваться</a>
    </div>
    <div class="line-or">
      <span class="line-text">или</span>
    </div>
    <div class="register-google">
      <button> <img src="../../../../assets/images/register/google-logo.png" alt="" />Aвторизоваться с Google</button>
    </div>
  </div>
  <div class="register-steps">
    <div class="register-nums">
      <span>1</span>
      <img src="../../../../assets/images/register/arrow-down.png" alt="" />
      <span>2</span>
      <img src="../../../../assets/images/register/arrow-down.png" alt="" />
      <span>3</span>
    </div>
    <div class="register-text">
      <p> Авторизуйтесь и получите свои адреса в Германия</p>
      <p>Покупайте онлайн в Германия используя свои адреса, как адреса доставки</p>
      <p>Забирайте посылки через 5-10 дней в Узбекистане</p>
    </div>
  </div>
</div>