<body>
  <div class="wrapper">
    <h2>Login</h2>
    <form action="#">
      <!--  -->
      <div class="form-floating mb-3 ">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <!--  -->
      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="register">
        <button>Login Now</button>
      </div>
      <div class="text">
        <h3>Already have an account? <a href="../register/">Login now</a></h3>
      </div>
    </form>
  </div>
</body>