<div class="contacts">
  <div class="header">
    <img src="../../../../assets/images/contacts/blog-page-img-3 1.png" alt="">
    <div>
      <h1>Contacts</h1>
    </div>
  </div>
  <div class="content">
    <div class="info">
      <div class="card">
        <h1>Office</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, praesentium.</p>
      </div>
      <div class="card bottom">
        <h1>Call As</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, praesentium.</p>
      </div>
      <div class="card bottom">
        <h1>Mail us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, praesentium.</p>
      </div>
      <div class="card">
        <h1>Office hours</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, praesentium.</p>
      </div>
    </div>

    <div class="info-forms">
      <h2>Write message</h2>
      <div class="forms">
        <div class="content">
          <input type="text" placeholder="Full name*">
          <input type="text" placeholder="Email*">
        </div>
        <div class="content">
          <input type="text" placeholder="Phone*">
          <input type="text" placeholder="City*">
        </div>
        <div class="content">
          <input type="text" placeholder="Subject">
        </div>
        <div class="content">
          <textarea placeholder="Type your message here...." name="" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="button">
          <button>Send Message</button>
        </div>
      </div>
    </div>
  </div>
</div>
