<div class="contacts">
  <div class="header">
    <img src="../../../../assets/images/contacts/blog-page-img-3 1.png" alt="">
    <div>
      <h1>{{ "doslogistic.web.contacts.contacts" | translate }}</h1>
    </div>
  </div>
  <div class="content">
    <div class="info">
      <div class="card">
        <h1> Office </h1>
        <p>
          {{'doslogistic.web.footer.contacts.germeny' | translate}}:
          Kahihorstst. 23A 23652 Lübeck
          {{'doslogistic.web.footer.contacts.uzbekistan' | translate}}:
          ShotaRustavili 12A
        </p>
      </div>
      <div class="card bottom">
        <h1>Call As</h1>
        <p>
          {{'doslogistic.web.footer.contacts.germeny' | translate}}
          +49 176 72565204
          {{'doslogistic.web.footer.contacts.uzbekistan' | translate}}
          +998 90 9009090
        </p>
      </div>
      <div class="card bottom">
        <h1>Mail us</h1>
        <p>{{ "doslogistic.web.contacts.form.email" | translate }}
          info@dostLogistic.uz
        </p>
      </div>
      <div class="card">
        <h1>Office hours</h1>
        <p>
          {{'doslogistic.web.footer.contacts.germeny' | translate}}
          {{'doslogistic.web.footer.contacts.hours' | translate}}
          {{'doslogistic.web.footer.contacts.uzbekistan' | translate}}
          {{'doslogistic.web.footer.contacts.hours' | translate}}
        </p>
      </div>
    </div>
    <div class="info-forms">
      <h2>{{ "doslogistic.web.contacts.form.message" | translate }}</h2>
      <div class="forms">
        <div class="content">
          <input type="text" placeholder="Full name*">
          <input type="text" placeholder="Email*">
        </div>
        <div class="content">
          <input type="text" placeholder="Phone*">
          <input type="text" placeholder="City*">
        </div>
        <div class="content">
          <input type="text" placeholder="Subject">
        </div>
        <div class="content">
          <textarea placeholder="Type your message here...." name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="button">
          <button>{{ "doslogistic.web.contacts.form.sendMessage" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>