<div class="about-us">
  <div class="header">
    <img src="../../../../assets/images/contacts/blog-page-img-3 1.png" alt="" />
    <div>
      <h1>{{ "doslogistic.web.aboutUs.aboutUs" | translate }}</h1>
    </div>
  </div>
  <div class="content-about">
    <div class="content">
      <div class="about-info">
        <div class="h2-text">
          <h2>Welcome to DostLogistic</h2>
        </div>
        <p>
          Ridiculus mus mauris vitae ultricies leo. Sed elementum tempus egestas
          sed sed risus pretium quam. Dignissim cras tincidunt lobortis feugiat.
          Eget gravida cum sociis natoque penatibus . Felis donec et odio
          pellentesque diam volutpat commodo sed egestas. Mattis pellentesque id
          nibh tortor. Sociis natoque penatibus et magnis dis parturient montes
          nascetur ridiculus. Pharetra pharetra massa massa ultricies mi quis
          hendrerit dolor magna. Amet cursus sit amet dictum sit amet justo
          donec enim. Rutrum quisque non tellus orci. Nisl tincidunt eget nullam
          non nisi est. Ultricies mi eget mauris pharetra et ultrices neque
          ornare. Mollis nunc sed id semper risus in hendrerit.
        </p>
      </div>
      <img src="../../../../assets/images/about-us/gabriel-santos-GBVDilE8yvI-unsplash 1.png" alt="" />
    </div>
  </div>
  <div class="about-overview">
    <div class="overview-width">
      <div class="overview-datas">
        <img width="44px" height="33px" src="../../../../assets/images/about-us/domain.png" alt="" />
        <p class="overview-num">143+</p>
        <h2>Lorem ipsum</h2>
      </div>
      <div class="overview-datas">
        <img width="40px" height="33px" src="../../../../assets/images/about-us/door_open.png" alt="" />
        <p class="overview-num">234+</p>
        <h2>Lorem ipsum</h2>
      </div>
      <div class="overview-datas">
        <img width="34px" height="33px" src="../../../../assets/images/about-us/mood.png" alt="" />
        <p class="overview-num">600+</p>
        <h2>Happy customers</h2>
      </div>
      <div class="overview-datas">
        <img width="27px" height="33px" src="../../../../assets/images/about-us/mode_of_travel.png" alt="" />
        <p class="overview-num">10,435+</p>
        <h2>Lorem ipsum</h2>
      </div>
    </div>
  </div>
  <div class="content-about">
    <div class="about-mission">
      <img src="../../../../assets/images/about-us/products.png" alt="" />
      <div class="mission-height">
        <div class="mission-datas">
          <img src="../../../../assets/images/about-us/icons8-star-32.png" alt="" />
          <div class="mission-text">
            <h2>Our Vision</h2>
            <p>
              Viverra orci sagittis eu volutpat odio facilisis mauris sit amet.
              Quisque sagittis purus sit amet volutpat consequat mauris nunc
              congue. Aliquam vestibulum morbi blandit cursus risus at ultrices
              mi.
            </p>
          </div>
        </div>
        <div class="mission-datas">
          <img src="../../../../assets/images/about-us/icons8-trophy-48.png" alt="" />
          <div class="mission-text">
            <h2>Our Mission</h2>
            <p>
              Viverra orci sagittis eu volutpat odio facilisis mauris sit amet.
              Quisque sagittis purus sit amet volutpat consequat mauris nunc
              congue. Aliquam vestibulum morbi blandit cursus risus at ultrices
              mi.
            </p>
          </div>
        </div>
        <div class="mission-datas">
          <img src="../../../../assets/images/about-us/icons8-bullseye-50.png" alt="" />
          <div class="mission-text">
            <h2>Our Goals</h2>
            <div class="circle-icon">
              <p>
                Viverra orci sagittis eu volutpat odio facilisis mauris sit amet.
              </p>
              <p>
                Quisque sagittis purus sit amet volutpat consequat mauris nunc
              </p>
              <p>
                congue. Aliquam vestibulum morbi blandit cursus risus at ultrices
                mi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-delivery">
      <div>
        <div class="h2-text">
          <h1>Moving made easy</h1>
        </div>
        <div class="delivery-datas">
          <div class="process">
            <img src="../../../../assets/images/about-us/book icon.png" alt="" />
            <p>Book our service</p>
            <img class="custom-width-img" src="../../../../assets/images/about-us/icons8-arrow-30.png" alt="" />
          </div>
          <div class="process">
            <img src="../../../../assets/images/about-us/boxes icon.png" alt="" />
            <p>We pack your goods</p>
            <img class="custom-width-img" src="../../../../assets/images/about-us/icons8-arrow-30.png" alt="" />
          </div>
          <div class="process">
            <img src="../../../../assets/images/about-us/car icon.png" alt="" />
            <p>We move your goods</p>
            <img class="custom-width-img" src="../../../../assets/images/about-us/icons8-arrow-30.png" alt="" />
          </div>
          <div class="process">
            <img src="../../../../assets/images/about-us/box icon.png" alt="" />
            <p>We unpack your goods</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>