.about-us {
    width: 100%;
}

.header {
    width: 100% !important;
    position: relative;
}

.header img {
    width: 100% !important;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header div {
    position: absolute;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: #000000;
    opacity: 0.7;
    z-index: 1;
}

.header div h1 {
    z-index: 4;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gradient {
    position: relative;
}

.gradient::before {
    content: "";
    position: absolute;
    bottom: 655px;
    left: 0;
    width: 750px;
    height: 1000px;
    border-radius: 700px;
    background: linear-gradient(to bottom, #2CA993, transparent);
    filter: blur(500px);
    z-index: -2;
}

.gradient::after {
    content: "";
    position: absolute;
    bottom: 830px;
    right: 0;
    width: 750px;
    height: 950px;
    border-radius: 700px;
    background: linear-gradient(to right, #A9592C, transparent), #FFF;
    filter: blur(500px);
    z-index: -2;
}

.content-about {
    max-width: 1320px;
    margin: 0 auto;
}

.content {
    padding-top: 100px;
    position: relative;
    padding-bottom: 100px;
    display: flex;
    gap: 100px;
}

.content img {
    max-width: 596px;
    max-height: 507px;
    right: 0;
}

.about-info {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.about-info .h2-text {
    justify-content: flex-start;
    display: flex;
    width: 100%;
    padding-bottom: 35px;
    font-size: 20px;
    color: #000000;
}

.about-info p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30.22px;
    letter-spacing: 0em;
    color: #000000;
}

.about-overview {
    background: rgba(0, 0, 0, 0.03);
    text-align: center;
}

.about-overview .overview-width {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about-overview .overview-datas {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-overview .overview-datas h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 32px;
}

.about-overview .overview-datas img {
    margin-right: 10px;
}

.about-overview .overview-datas p {
    font-weight: 700;
    font-size: 32px;
    margin-top: 10px;
    color: #000000;
}

.about-overview .overview-num {
    font-size: 32px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.about-mission {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    gap: 10px;
}

.about-mission img {
    max-width: 600px;
    max-height: 575px;
}

.about-mission .mission-height {
    max-height: 575px;
}

.about-mission .mission-datas {
    display: flex;
    padding-left: 20px;
    width: 88%;
}

.about-mission .mission-datas img {
    width: 40px;
    height: 40px;
}

.about-mission .mission-text {
    padding-left: 24px;
}

.about-mission .mission-text .circle-icon p::before {
    content: "●";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    color: #A9592C;
    font-size: 23px;
}

.about-mission .mission-text h2 {
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: 27px;
}

.about-mission .mission-text p {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 30.22px;
    letter-spacing: 0em;
    color: #000000;
}

.about-delivery {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding-bottom: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.about-delivery h1 {
    font-size: 32px;
    font-weight: 700;
    padding-top: 35px;
}

.about-delivery .delivery-datas {
    display: flex;
    justify-content: center;
    gap: 90px;
    align-items: center;
}

.about-delivery .process {
    display: flex;
    gap: 10px;
    align-items: center;
}

.about-delivery .process p {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
}

.about-delivery .process img {
    width: 40px;
    height: 40px;
}

.about-delivery .process .custom-width-img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 30px;
}

.review-content {
    max-width: 1320px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.about-service {
    display: flex;
    flex-direction: column;
    background-color: #CFCFCF;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 60px;
}

.about-service .service-text {
    padding-top: 20px;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
}

.about-service .service-num {
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    padding-top: 15px;
    padding-bottom: 25px;
}

.about-service .service-num img {
    width: 30px;
    height: 30px;
    border: 3px;
}

@media screen and (max-width: 1440px) {
    .content img {
        max-width: 550px;
        max-height: 450px;
    }

    .about-info .h2-text {
        padding-bottom: 20px;
        font-size: 18px;
    }

    .about-info {
        align-items: flex-start;
    }

    .content {
        gap: 80px;
        justify-content: center;
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-info p {
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        justify-content: center;
        align-items: center;
    }

    .content img {
        max-width: 500px;
        max-height: 400px;
    }

    .about-info p {
        font-size: 17px;
    }

    .about-info .h2-text {
        font-size: 17px;
    }

    .about-overview .overview-datas p {
        font-size: 28px;
    }

    .about-overview .overview-datas h2 {
        font-size: 28px;
    }

    .about-overview {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-overview .overview-datas img {
        width: 30px;
        height: 28px;
    }

    .about-mission img {
        max-width: 500px;
        max-height: 545px;
    }

    .about-mission .mission-text p {
        font-size: 16px;
        width: 125%;
    }

    .about-mission .mission-text h2 {
        margin-bottom: 1.3rem;
        font-size: 25px;
    }

    .about-mission {
        gap: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-mission .mission-datas img {
        width: 30px;
        height: 30px;
    }

    .about-delivery {
        padding-right: 20px;
        padding-left: 20px;
    }

    .about-delivery .process p {
        font-size: 16px;
    }

    .about-delivery h1 {
        font-size: 28px;
    }

    .about-delivery .process img {
        width: 30px;
        height: 30px;
    }

    .review-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-service .service-text {
        font-size: 28px;
    }

    .about-service .service-num {
        font-size: 30px;
    }
}


@media screen and (max-width: 1100px) {
    .about-mission .mission-text {
        padding-left: 8px;
    }

    .about-mission .mission-text p {
        font-size: 14px;
    }

    .about-mission .mission-text h2 {
        margin-bottom: 0.6rem;
        font-size: 20px;
    }

    .about-mission .mission-datas {
        display: flex;
        padding-left: 15px;
        width: 91%;
    }

    .about-mission {
        align-items: center;
    }
}

@media screen and (max-width: 992px) {
    .content {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .about-info .h2-text {
        font-size: 16px;
        justify-content: center;
    }

    .about-overview .overview-datas h2 {
        font-size: 24px;
    }

    .about-overview .overview-datas p {
        font-size: 25px;
    }

    .about-overview .overview-datas img {
        width: 25px;
        height: 25px;
    }

    .about-mission {
        gap: 0px;
        flex-direction: column-reverse;
    }

    .about-mission .mission-text p {
        font-size: 16px;
        width: 100%;
    }

    .about-mission img {
        display: none;
    }

    .about-delivery h1 {
        font-size: 25px;
    }

    .about-delivery .process p {
        font-size: 13px;
    }

    .about-delivery .process img {
        width: 20px;
        height: 20px;
    }

    .about-delivery .delivery-datas {
        gap: 65px;
    }

    .about-service .service-text {
        font-size: 25px;
    }

    .about-service .service-num {
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {
    .header img {
        height: 350px;
    }

    .content img {
        max-width: 450px;
        max-height: 350px;
    }

    .about-overview .overview-datas h2 {
        font-size: 20px;
    }

    .about-overview .overview-datas p {
        font-size: 21px;
    }

    .about-delivery .delivery-datas {
        gap: 50px;
    }

    .about-delivery .process p {
        font-size: 10px;
    }

    .about-delivery .process .custom-width-img {
        left: 0px;
    }

    .about-service .service-text {
        font-size: 21px;
    }

    .about-service .service-num {
        font-size: 22px;
    }

    .about-mission {
        padding-left: 10px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 576px) {
    .header img {
        height: 300px;
    }

    .about-overview .overview-datas h2 {
        font-size: 15px;
    }

    .about-overview .overview-datas p {
        font-size: 18px;
    }

    .about-delivery .delivery-datas {
        flex-direction: column;
    }

    .custom-width-img {
        transform: rotate(90deg);
    }


    .about-delivery .process {
        flex-direction: column;
    }

    .about-delivery .process p {
        font-size: 15px;
    }

    .about-delivery .process img {
        width: 30px;
        height: 30px;
    }

    .about-delivery {
        padding-right: 0px;
        padding-left: 0px;
        background-color: transparent;
        padding-top: 10px;
    }

    .about-service .service-text {
        font-size: 19px;
    }

    .about-service .service-num {
        font-size: 20px;
    }
}

@media screen and (max-width: 478px) {
    .content img {
        max-width: 400px;
        max-height: 300px;
        padding-left: 30px;
    }

    .content {
        padding-left: 20px;
    }

    .about-info p {
        font-size: 15px;
        width: 110%;
    }

    .about-overview .overview-datas h2 {
        font-size: 13px;
    }

    .about-overview .overview-datas p {
        font-size: 16px;
    }

    .about-overview .overview-datas img {
        width: 20px;
        height: 20px;
    }

    .about-overview {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-service .service-text {
        font-size: 17px;
    }

    .about-service .service-num {
        font-size: 18px;
    }
}