<div class="container">

  <div class="image">
    <img src="../../../../assets/images/about-us/blog-page-img-3 1.png" alt="">

    <div class="image-text">
      <h2>About us</h2>
      <p>Lorem Ipsum donor has been the Industry’s standard</p>
    </div>

  </div>

  <div class="content">

    <svg xmlns="http://www.w3.org/2000/svg" width="701" height="111" viewBox="0 0 701 111" fill="none">
      <path
        d="M700 1C681.777 23.3383 639.168 68.0148 614.523 68.0148C583.717 68.0148 510.823 -15.9556 470.037 26.0296C429.251 68.0148 400.615 68.0148 373.713 68.0148C346.812 68.0148 299.518 55.0963 273.05 40.563C246.583 26.0296 197.987 13.8395 160.238 40.563C122.49 67.2864 113.812 74.4741 87.3445 74.4741C71.0013 73.3975 30.8518 78.9956 1.00002 110"
        stroke="#058C42" stroke-dasharray="6 6" />
    </svg>

    <div class="small-plane">
      <img src="../../../../assets/images/about-us/plane 1.png" alt="">
    </div>

    <div class="welcome-content">

      <div class="wel-txt">
        <h2>Welcome to Dost Logistics</h2>
        <p>Germaniya va Polshadagi onlayn-do‘konlarning 90 foizi to‘g‘ridan-to‘g‘ri O‘zbekistonga yetkazib bermaydi.
          Dost Logictic esa Germaniya va Polsha internet-do‘konlarida xarid qilish va ularni butun O‘zbekiston bo‘ylab
          qabul qilish imkonini beradi. Bizning innovatsion va inqilobiy g'oyalarimiz va texnologiyalarimiz bilan biz
          sizga eng yaxshi xarid qilish tajribasi, erkinlik va barcha chegaralardan oshib ketishni ta'minlashga
          intilamiz. Biz Germaniya va Polsha vakilimiz. Hozir bizning jamoamizda 300 dan ortiq mutaxassislar bor - va bu
          chegara emas.</p>
      </div>

      <div class="wel-img">
        <img src="../../../../assets/images/about-us/gabriel-santos-GBVDilE8yvI-unsplash 1.png" alt="">
      </div>

    </div>

    <div class="our-service">

      <svg xmlns="http://www.w3.org/2000/svg" width="554" height="619" viewBox="0 0 554 619" fill="none">
        <path
          d="M239.14 1.08398C177.471 16.2741 121.883 49.8652 79.7576 97.3961C37.6321 144.927 10.9629 204.148 3.29176 267.195C-4.37936 330.242 7.31066 394.13 36.8093 450.376C66.3079 506.621 112.219 552.562 168.446 582.097C224.672 611.632 288.553 623.363 351.605 615.733C405.403 609.488 494.9 573.5 552.5 483.5"
          stroke="#058C42" stroke-linecap="round" stroke-dasharray="6 6" />
      </svg>

      <div class="service-txt">

        <img src="../../../../assets/images/about-us/gabriel-santos-GBVDilE8yvI-unsplash 1 (1).png" alt="">

        <div class="wel-txt">
          <h2>Bizning servis Markazlarimiz</h2>
          <p>Dost Logistic har doim o'z printsiplari va g'oyalariga sodiq. Biz O'zbekistonda ochilganimiz bilan bir
            paytda endi asosiy vazifamiz o'zbekiistonliklarga Germaniya va Polshadan xaridlar qilish va yashash joyidan
            qat'i nazar ularni olish imkoniyatini taqdim etishdan iborat. Bizning o'ziga xos yagona servis-markazimiz
            qulay va zamonaviy terminallardan foydalanadi, ular posilkalarni 10 soniya ichida olish imkonini beradi. Biz
            shahrimiz markazida joylashganmiz, call-markazimiz har qanday murakkablikdagi vazifalarni hal etish uchun
            doim aloqada.</p>
        </div>

        <div class="plane2">
          <img src="../../../../assets/images/about-us/plane 2.png" alt="">
        </div>

      </div>

    </div>
  </div>

  <div class="why-us">

    <img src="../../../../assets/images/about-us/Rectangle 35.png" alt="">

    <div class="us-txt">
      <h2>Nega Dost Logistics?</h2>

      <div class="card-container">

        <div class="card">
          <img src="../../../../assets/images/about-us/marker (1) 1.svg" alt="">
          <h2>50+</h2>
          <p>Bizning manzillar</p>
        </div>

        <div class="vektor">
          <img src="../../../../assets/images/about-us/Vector 4.svg" alt="">
        </div>

        <div class="card">
          <img src="../../../../assets/images/about-us/globe (1) 1.svg" alt="">
          <h2>15+</h2>
          <p>Davlatlar bo’ylab</p>
        </div>

        <div class="vektor">
          <img src="../../../../assets/images/about-us/Vector 4.svg" alt="">
        </div>

        <div class="card">
          <img src="../../../../assets/images/about-us/grin-alt (1) 1.svg" alt="">
          <h2>800+</h2>
          <p>Mamnun Mijozlar</p>
        </div>

        <div class="vektor">
          <img src="../../../../assets/images/about-us/Vector 4.svg" alt="">
        </div>

        <div class="card">
          <img src="../../../../assets/images/about-us/truck-moving (3) 1.svg" alt="">
          <h2>150+</h2>
          <p>Transport vositalar</p>
        </div>

      </div>

    </div>

  </div>

  <div class="content">

    <div class="our-work">

      <h2>Bizning Xizmatlar</h2>

      <div class="work-cards">

        <div class="work-card-sty">
          <img src="../../../../assets/images/about-us/warehouse-alt 1.svg" alt="">
          <h2>Warehousing</h2>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
            a galley of type scrambled it type book. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type scrambled it type book.</p>
          <button>Read more</button>
        </div>

        <div class="work-card-sty">
          <img src="../../../../assets/images/about-us/plane-alt 1.svg" alt="">
          <h2>Air Freight</h2>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
            a galley of type scrambled it type book. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type scrambled it type book.</p>
          <button>Read more</button>
        </div>

        <div class="work-card-sty">
          <img src="../../../../assets/images/about-us/ship 1.svg" alt="">
          <h2>Ocean Freight</h2>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
            a galley of type scrambled it type book. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type scrambled it type book.</p>
          <button>Read more</button>
        </div>

        <div class="work-card-sty">
          <img src="../../../../assets/images/about-us/truck-moving (1) 1.svg" alt="">
          <h2>Road Freight</h2>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
            a galley of type scrambled it type book. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type scrambled it type book.</p>
          <button>Read more</button>
        </div>

        <div class="work-card-sty">
          <img src="../../../../assets/images/about-us/lightbulb-on 1.svg" alt="">
          <h2>Logistic Solution</h2>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
            a galley of type scrambled it type book. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type scrambled it type book.</p>
          <button>Read more</button>
        </div>

        <div class="work-card-sty">
          <img src="../../../../assets/images/about-us/box-open 1.svg" alt="">
          <h2>Packaging</h2>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
            a galley of type scrambled it type book. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type scrambled it type book.</p>
          <button>Read more</button>
        </div>
      </div>
    </div>

    <div class="our-vision">
      <img src="../../../../assets/images/about-us/chuttersnap-BNBA1h-NgdY-unsplash 1.png" alt="">
      <div class="vision-txt">

        <div class="vison-parag">

          <div class="vision-icon">

            <img src="../../../../assets/images/about-us/high-quality.png" alt="">
            <h3>Our Vision</h3>
          </div>
          <p>Viverra orci sagittis eu volutpat odio facilisis mauris sit amet. Quisque sagittis purus sit amet volutpat
            consequat mauris nunc congue. Aliquam vestibulum morbi blandit cursus risus. Quisque sagittis purus sit amet
            volutpat consequat mauris nunc congue.</p>
        </div>

        <div class="vison-parag">

          <div class="vision-icon">

            <img src="../../../../assets/images/about-us/money.png" alt="">
            <h3>Our mission</h3>

          </div>
          <p>Viverra orci sagittis eu volutpat odio facilisis mauris sit amet. Quisque sagittis purus sit amet volutpat
            consequat mauris nunc congue. Aliquam vestibulum morbi blandit cursus risus. Quisque sagittis purus sit amet
            volutpat consequat mauris nunc congue.</p>
        </div>

        <div class="vison-parag">

          <div class="vision-icon">

            <img src="../../../../assets/images/about-us/shield.png" alt="">
            <h3>Our Goals</h3>

          </div>
          <p>Viverra orci sagittis eu volutpat odio facilisis mauris sit amet. Quisque sagittis purus sit amet volutpat
            consequat mauris nunc congue. Aliquam vestibulum morbi blandit cursus risus. Quisque sagittis purus sit amet
            volutpat consequat mauris nunc congue.</p>
        </div>

      </div>
    </div>
  </div>

  <div class="why-us">

    <img src="../../../../assets/images/about-us/Rectangle 38.png" alt="">

    <div class="us-txt2">
      <h2>Solid coordination and transport arrangements</h2>
      <p>-- Stive Jobs --</p>
    </div>

  </div>

  <div class="content2">
    <div class="review-content">
      <app-reviews></app-reviews>
    </div>
  </div>
</div>