<div class="container">
    <div class="header">
        <img src="../../../../../assets/images/countries/icons8-germany-48.png" alt="" />
        <p>Sizning Germaniyadagi manzilingiz</p>
    </div>
    <h5>O'z manzilingizni yetkazib berish manzili sifatida foydalangan holda Germaniyadagi do'konlardan onlayn xarid
        qiling</h5>
    <div class="small-container">
        <div class="delivery-date">
            <img src="../../../../../assets/images/airplane.jpg" alt="" />
            <p>5-10 ish kuni davomida</p>
        </div>
        <hr>
        <div class="user-datails">
            <div class="details">
                <p>Oluvchi:</p>
                <p>Address:</p>
                <p>Address 2:</p>
                <p>City:</p>
                <p>State:</p>
                <p>Zip Code:</p>
                <p>Country:</p>
                <p>Phone Number:</p>
            </div>
            <div class="details">
                <p>someone</p>
                <p>11 Southgate Blvd, D10</p>
                <p>ABC9662</p>
                <p>New Castle</p>
                <p>DE</p>
                <p>19720</p>
                <p>USA</p>
                <p>+1 302 4148567</p>
            </div>
            <div class="details-copy">
                <p>Copy</p>
                <p>Copy</p>
                <p>Copy</p>
                <p>Copy</p>
                <p>Copy</p>
                <p>Copy</p>
                <p>Copy</p>
                <p>Copy</p>
            </div>
        </div>
        <hr>
        <div class="copy-all">
            <p>Copy All</p>
        </div>
    </div>
    <div class="time">
        <p>09:00 - 17:00 Dush - Juma Delaware soat vaqti bilan</p>
    </div>
</div>