<div class="container">
  <div class="line">
    <input type="text" placeholder="Search" class="input-style">
    <i class="fas fa-search"></i> 
  </div>
  <div class="content">
    <div class="left">
      <div class="div" routerLinkActive="active-link" [routerLink]="['order']">
        <div class="div-icon">
          <i class="fa-solid fa-clipboard"></i>
          <p>Qo'shildi</p>
        </div>
        <p>0</p>
      </div>
      <div class="div" routerLinkActive="active-link" [routerLink]="['warehouse']">
        <div class="div-icon">
          <i class="fa-solid fa-warehouse"></i>
          <p>Omborda</p>
        </div>
        <p>0</p>
      </div>
      <div class="div" routerLinkActive="active-link" [routerLink]="['onway']">
        <div class="div-icon">
          <i class="fa-solid fa-plane-up"></i>
          <p>Yo'lda</p>
        </div>
        <p>0</p>
      </div>
      <div class="div" routerLinkActive="active-link" [routerLink]="['incountry']">
        <div class="div-icon">
          <i class="fa-solid fa-location-dot"></i>
          <p>Mamlakatda</p>   
        </div>
        <p>0</p>
      </div>
      <div class="div" routerLinkActive="active-link" [routerLink]="['recieved']">
        <div class="div-icon">
          <i class="fa-solid fa-handshake"></i>
          <p>Olindi</p>
        </div>
        <p>0</p>
      </div>
    </div>

    <div class="right">
      <ng-container>
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </div>
</div>
