.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.container .box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid #ffba86;
  border-radius: 50%;
  background:#ffba86;
  margin: 70px 170px 0 170px;
}

.container .box .icon{
  font-size: 30px;
  color: #e87722;
}
.container .title .first{
  font-size: 20px;
  padding: 20px 270px 0px 270px;
  color: #e87722;
  text-align: center;
  margin: 0;
}
.container .title .second{
  font-size: 20px;
  padding: 0px 270px 10px 270px;
  color: #e87722;
  text-align: center;
  margin: 0;
}

.addParcels {
  background-color: #A9592C;
  display: flex;
  padding:10px;
  height: 40px;
  width: 260px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;

  i {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
  }

  p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
}

.addParcels:hover {
  background-color: #e87722;
}
