<div (click)="openModal()" class="nav-calculator">
    <i class="fa-solid fa-calculator"></i>
    <span>Calculator</span>
</div>



<div *ngIf="isModalOpen" class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h2 class="modal-title">Стоимость доставки</h2>
            <button class="close-button" (click)="closeModal()">×</button>
        </div>
        <div class="modal-content">
            <input type="number" [(ngModel)]="weightValue" placeholder="0" class="input-style" step="0.1"
                (input)="onWeightInputChange()">
            <select [(ngModel)]="selectedUnit" class="input-style">
                <option value="kg">кг</option>
                <option value="funt">фунт</option>
            </select>
            <input class="slider" type="range" [(ngModel)]="sliderValue" min="0" max="100" step="0.1" value="0"
                (input)="onSliderChange($event)">
            <div class="terms-of-use">
                <label nz-checkbox [(ngModel)]="checked"></label>
                <h3 class="paragraph">Расчет стоимости доставки крупногабаритных посылок</h3>
                <div class="btn btn-primary tooltip">
                    <i class="far fa-question-circle"></i>
                    <div class="top">
                        <p>Стоимость всех авиадоставок рассчитывается на основании фактического веса, за
                            исключением крупногабаритных посылок. Посылки считаются крупногабаритными, если сумма 3-х
                            сторон
                            превышает 150 см, а объемный вес превышает фактический вес в 2 и более раза. В этом случае
                            расчет
                            стоимости доставки выполняется на основании объемного веса посылки (длина (см) х ширина (см)
                            х высота
                            (см) / 5000).</p>
                        <i></i>
                    </div>
                </div>
            </div>
            <div *ngIf="checked" class="input-container">
                <input type="number" placeholder="0" class="input" />
                <input type="number" placeholder="0" class="input" />
                <input type="number" placeholder="0" class="input" />
                <select [(ngModel)]="selectedUnit" class="input-style">
                    <option value="sm">sm</option>
                    <option value="m">metr</option>
                    <option value="dyum">dyum</option>
                </select>
            </div>
            <hr>
            <div class="footer-paragraph">
                <h3>5-10 раб. дней</h3>
                <h1>{{ getFormattedDeliveryCost() }}</h1>
            </div>
        </div>
    </div>
</div>