.container{
  max-width: 1320px;
  margin: 0 auto;
}

.block_title {
	color: var(--Primary, #058C42);
	text-align: center;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 0 !important;

}

.content{
  position: relative;
  height: 160px;
  img{
    padding-left: 40px;
    padding-bottom: 0 !important;
    position: absolute;
    bottom: -10;
    align-items: center;
    left: 20%;
  }
}

.chooseus_block {
	display: flex;
	align-items: center;
	background: var(--Primary, #058C42);
	border: 1px solid var(--Primary, #058C42);
	border-radius: 32px;
	box-shadow: 0px 10px 32px 0px rgba(167, 201, 87, 0.20), 0px 2px 12px 0px rgba(167, 201, 87, 0.12);
}

.chooseus_block .right {
	padding: 53px 108px 53px 64px;
	height: 100%;

}

.left img {
	width: 582px;
}

.right .chooseus_item {
	margin-bottom: 26px;
}
.right .chooseus_item:last-child {
	margin-bottom: 0;
}

.chooseus_item .title {
	display: flex;
	align-items: center;
	margin-bottom: 17px;
}
.chooseus_item .title span{
	color: var(--White, #FFF);
	font-size: 32px;
	margin-left: 16px;
	font-weight: 400;
}

.chooseus_item .desc {
	color: var(--background-color, #CCFFE3);
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.block_line {
	text-align: center;
	display: flex;
	margin: 0 auto;
	margin-bottom: 24px;
}

