<div class="header-line">
  <div class="info">
    <div class="info-txt">
      <div class="circle-icon">
        <i class="fas fa-exclamation"></i>
      </div>
      <p>Oluvchining holati "Tasdiqlanmagan". Posilka olish uchun ma’lumotlarni tasdiqlash zarur.</p>
    </div>
    <button>Oluvchini tasdiqlamoq</button>
  </div>
</div>
<div class="container">
  <div class="content">
    <div class="header">
      <div class="left-btn">
        <div routerLinkActive="active-link" [routerLink]="['myParcels']" class="button-div">
          <p>Mening Posilkalarim</p>
        </div>
        <div routerLinkActive="active-link" [routerLink]="['myAddress']" class="button-div">
          <p>Mening manzillarim</p>
        </div>
      </div>
      <div routerLinkActive="active" (click)="openModal()" class="addParcels">
        <i class="fas fa-plus"></i>
        <p>Posilka qo'shish</p>
      </div>
    </div>
    <div class="body">
      <ng-container>
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </div>
</div>


<div [ngClass]="{'modal': true, 'fade-in': modalOpen}" class="modal">
  <div class="modal-content">
    <div class="modal-heder">
      <span class="modal-header">Оформить посылку</span>
      <span class="close" (click)="closeModal()">&times;</span>
    </div>
    <!-- Step 0 - Choose Country -->
    <div *ngIf="currentStep === 0" class="modal-steps">
      <div class="choose-country">Выберите филиал<span>*</span></div>
      <div class="country-content">
        <div class="country-boxes" (click)="selectCountry('Germany')">
          <img src="../../../../../assets/images/countries/icons8-germany-48.png" alt="" />
          <p>Germany</p>
        </div>
        <div class="country-boxes" (click)="selectCountry('Poland')">
          <img src="../../../../../assets/images/countries/icons8-poland-48.png" alt="" />
          <p>Poland</p>
        </div>
      </div>
    </div>

    <div *ngIf="selectedCountry">
      <!-- Germany -->
      <!-- Step 1 for Germany -->
      <div *ngIf="selectedCountry === 'Germany' && currentStep === 1" class="modal-steps">
        <div class="choose-country">
          <p class="current-step">{{ currentStep }}</p>Выберите тип заказа<span>*</span>
        </div>
        <div class="country-content">
          <div class="country-box" (click)="selectOption('sendPackage')"> 
            <i class="fa-solid fa-truck"></i>
            <p>Отправить посылку</p>
          </div>
          <div class="country-box" (click)="selectOption('internetOrder')"> 
            <i class="fa-solid fa-cart-plus"></i>
            <p>Интернет заказ</p>
          </div>
          <div class="country-box" (click)="selectOption('purchaseAssistance')"> 
            <i class="fa-solid fa-shop"></i>
            <p>Помощь в покупке</p>
          </div>
        </div>
      </div>

      <!-- sendPackage -->
      <div *ngIf="selectedCountry === 'Germany' && selectedOption === 'sendPackage' && currentStep === 2"
        class="modal-steps">
        <div class="choose-count">
          <div class="display-flex">
            <span class="current-step">{{ currentStep }}</span>Заполните декларацию
          </div>
          <div class="text-about">
            Пожалуйста, внимательно опишите каждый товар в заказе. Эти данные будут использоваться для оформления
            таможенной декларации.
          </div>
        </div>
        <div class="previous-btn">
          <span (click)="prevStep()">← </span>
        </div>
      </div>
      <div *ngIf="selectedCountry === 'Germany' && selectedOption === 'sendPackage' && currentStep === 3"
        class="modal-steps">
        <h3>Step 3: Send Package for Germany</h3>
        <div class="previous-btn">
          <span (click)="prevStep()">← </span>
        </div>
      </div>
      <div *ngIf="selectedCountry === 'Germany' && selectedOption === 'sendPackage' && currentStep === 4"
        class="modal-steps">
        <h3>Step 4: Send Package for Germany</h3>
        <div class="previous-btn">
          <span (click)="prevStep()">← </span>
        </div>
      </div>
      <div *ngIf="selectedCountry === 'Germany' && selectedOption === 'sendPackage' && currentStep === 5"
        class="modal-steps">
        <h3>Step 5: Send Package for Germany</h3>
        <div class="previous-btn">
          <span (click)="prevStep()">← </span>
        </div>
      </div>

      <!-- internetOrder -->
      <div *ngIf="selectedCountry === 'Germany' && selectedOption === 'internetOrder' && currentStep === 2"
        class="modal-steps">
        <h3>Step 2: Internet Order for Germany</h3>
        <div class="previous-btn">
          <span (click)="prevStep()">← </span>
        </div>
      </div>
      <div *ngIf="selectedCountry === 'Germany' && selectedOption === 'internetOrder' && currentStep === 3"
        class="modal-steps">
        <h3>Step 3: Internet Order for Germany</h3>
        <button (click)="prevStep()">Previous</button>
        <button (click)="nextStep()">Next</button>
      </div>
      <div *ngIf="selectedCountry === 'Germany' && selectedOption === 'internetOrder' && currentStep === 4"
        class="modal-steps">
        <h3>Step 4: Internet Order for Germany</h3>
        <button (click)="prevStep()">Previous</button>
        <button (click)="nextStep()">Next</button>
      </div>

      <!-- purchaseAssistance -->
      <div *ngIf="selectedCountry === 'Germany' && selectedOption === 'purchaseAssistance' && currentStep === 2"
        class="modal-steps">
        <h3>Step 2: Purchase Assistance for Germany</h3>
        <div class="previous-btn">
          <span (click)="prevStep()">← </span>
        </div>
      </div>
      <div *ngIf="selectedCountry === 'Germany' && selectedOption === 'purchaseAssistance' && currentStep === 3"
        class="modal-steps">
        <h3>Step 3: Purchase Assistance for Germany</h3>
        <button (click)="prevStep()">Previous</button>
        <button (click)="nextStep()">Next</button>
      </div>


      <!-- /////////////////////// -->






      <!-- Poland -->
      <!-- Step 1 for Poland -->
      <div *ngIf="selectedCountry === 'Poland' && currentStep === 1">
        <h3>Step 1: Address Information for Poland</h3>
        <button (click)="prevStep()">Previous</button>
        <button (click)="nextStep()">Next</button>
      </div>
      <!-- Step 2 for Poland -->
      <div *ngIf="selectedCountry === 'Poland' && currentStep === 2">
        <h3>Step 2: Address Information for Poland</h3>
        <button (click)="prevStep()">Previous</button>
        <button (click)="nextStep()">Next</button>
      </div>
      <!-- Step 3 for Poland -->
      <div *ngIf="selectedCountry === 'Poland' && currentStep === 3">
        <h3>Step 3: Address Information for Poland</h3>
        <button (click)="prevStep()">Previous</button>
        <button (click)="nextStep()">Next</button>
      </div>
      <!-- Step 4 for Poland -->
      <div *ngIf="selectedCountry === 'Poland' && currentStep === 4">
        <h3>Step 4: Address Information for Poland</h3>
        <button (click)="prevStep()">Previous</button>
        <button (click)="nextStep()">Next</button>
      </div>
      <!-- Step 5 for Poland -->
      <div *ngIf="selectedCountry === 'Poland' && currentStep === 5">
        <h3>Step 5: Address Information for Poland</h3>
        <button (click)="prevStep()">Previous</button>
        <button (click)="nextStep()">Next</button>
      </div>
    </div>




    <!-- Step Counter -->
    <div class="step-counter">
      <div class="step-counter-left">
        Шаг {{ currentStep }} из {{ totalSteps }}
      </div>
      <div class="step-counter-right">
        <div class="order-steps">
          <div *ngFor="let step of orderSteps" class="order-step" [class.active]="step <= currentStep"></div>
        </div>
      </div>
    </div>
  </div>
</div>