// top-side-header

.header-line {
  border-top: 1px solid #dad7d6;
  background-color: #FAF9F6;
  width: 100%;
  height: 62px;
  align-items: center;
  display: flex;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;

  button {
    height: 42px;
    padding: 0px 10px;
    border-radius: 6px;
    border: 1px solid #A9592C;
    background-color: #fff;
    color: #A9592C;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  button:hover {
    color: #fff;
    background-color: #A9592C;
  }
}

.info-txt {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 0;
    font-weight: 400;
  }
}

.circle-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-icon i {
  color: black;
  font-size: 15px;
}

// main-container

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.left-btn {
  display: flex;
  gap: 20px;
}

.button-div {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 20px 15px 19px;
  width: 280px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  p {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #A9592C;
    bottom: -1px;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.2s linear;
  }

  &:hover {
    cursor: pointer;
    background-color: #FAF9F6;
    transition: background-color 0.2s linear, color 0.2s linear;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;

    &::after {
      transform: scaleX(1);
    }
  }
}

.active-link {
  p {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #A9592C;
    bottom: -1px;
    left: 0;
    transform-origin: center;
    transform: scaleX(1);
    transition: transform 0.2s linear;
  }

  &:hover {
    cursor: default;
    background-color: transparent;
  }
}

.addParcels {
  background-color: #A9592C;
  display: flex;
  padding: 20px 10px 21px;
  height: 60px;
  width: 280px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  i {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
  }

  p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
}

.addParcels:hover {
  background-color: #7a4020;
}

.body {
  margin: 50px 0;
}

/* The modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Add a class to fade in the modal */
.modal.fade-in {
  opacity: 1;
  pointer-events: auto;
}

/* Modal content */
.modal-content {
  margin: 9% auto;
  width: 660px;
  text-align: center;
  transition: transform 0.3s ease;
  background: #fff;
  box-shadow: 0 2px 19px rgba(0, 0, 0, .0700667);
  border-radius: 10px;
  border-color: rgba(0, 0, 0, .1);
  position: relative;
}


.modal-heder {
  display: flex;
  padding: 16px 25px;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #dad7d6;
}

/* Close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: normal;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding-right: 16px;
}

.close:hover {
  color: #A9592C;
}

.modal-header {
  color: #212121;
  font-size: 20px;
}

// modal steps

.modal-steps {
  padding: 35px 25px;
  border-bottom: 1px solid #dad7d6;
}


.choose-country {
  font-size: 18px;
  display: flex;
  gap: 10px;

  span {
    color: red;
  }
}

.choose-count {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.text-about {
  font-size: 14px;
  color: #73849a;
  text-align: left;
  margin-top: 10px;
}

.display-flex {
  display: flex;
  gap: 10px;
}

.country-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 23px;
}

.country-boxes {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #eaedf3;
  transition: all .2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;

  p {
    font-size: 16px;
    margin-top: 12px;
    color: #212121;
    margin-bottom: 0;
  }

  i {
    font-size: 25px;
    color: gray;
  }
}

.country-boxes:hover {
  border-color: #A9592C;
  color: #A9592C;
  cursor: pointer;
}

.current-step {
  border-radius: 50%;
  border: 1px solid #A9592C;
  color: #A9592C;
  width: 30px;
  margin-bottom: 0;
}

.country-box {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #eaedf3;
  transition: all .2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 16px;
    margin-top: 20px;
    color: #212121;
    margin-bottom: 0;
    width: 100px;
  }

  i {
    font-size: 25px;
    color: gray;
  }
}

.country-box:hover {
  border-color: #A9592C;
  cursor: pointer;

  p {
    color: #A9592C;
  }

  i {
    color: #A9592C;
  }
}

.country-box:active {
  border-color: #A9592C;
  color: #A9592C;
  cursor: pointer;
  background-color: rgb(169, 89, 4, 0.2);
}


.previous-btn {
  position: absolute;
  top: 0;
  left: 20px;

  span {
    color: #aaaaaa;
    font-size: 40px;
    cursor: pointer;
  }

  span:hover {
    color: #A9592C;
  }
}


.add-order-box {
  border-top: 1px solid #dad7d6;
  border-bottom: 1px solid #dad7d6;
  margin-top: 10px;
  padding-bottom: 15px;
}

.add-order-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  p {
    color: #73849a;
    font-size: 15px;
    padding-left: 5px;
  }

  span {
    color: red;
  }
}

.name-order {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    width: 274px;
    padding: 1px 2px 1px 14px;
    outline: none;
    border: 1px solid #dad7d6;
    border-radius: 5px;
    transition: all .2s ease;

  }

  input:hover {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }

  input:focus {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }
}

.quantity {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    width: 100px;
    border-radius: 5px;
    padding: 1px 2px 1px 14px;
    outline: none;
    border: 1px solid #dad7d6;
    transition: all .2s ease;

  }

  input:hover {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }

  input:focus {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }
}

input::placeholder {
  color: #73849a;
  font-size: 15px
}

.input-sty {
  display: flex;
  justify-content: end;
  align-items: center;

  p {
    margin-bottom: 0;
    color: #73849a;
    border: 1px solid #dad7d6;
  }
}

.input-sht {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dad7d6;
  width: 28px;
  color: #7a4020;
  font-size: 15px;
  border-radius: 5px;
  height: 31.88px;
}


.add-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 20px;

  button {
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #A9592C;
    background-color: white;
    color: #A9592C;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  button:hover {
    background-color: #FAF9F6;
  }

  i {
    margin-right: 2px;
  }
}

.divs-sty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  column-gap: 10px;
}

.delete-btn {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.delete-button {
  border: 1px solid #dad7d6;
  padding: 1px 9px;
  border-radius: 5px;
  cursor: pointer;

  i {
    color: red;
  }
}


.order-weight {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 10px;
  margin-bottom: -20px;

  p {
    margin-bottom: 10px;
    color: #73849a;
    font-size: 15px;
  }

  input {
    width: 100px;
    border-radius: 5px;
    padding: 1px 2px 1px 14px;
    outline: none;
    border: 1px solid #dad7d6;
    transition: all .2s ease;

  }

  input:hover {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }

  input:focus {
    box-shadow: 0 0 0 2px rgba(169, 89, 44, 0.2);
  }
}

.user-address {
  background-color: #FAF9F6;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-left: 20px;
  border-radius: 6px;
  align-items: flex-start;
  margin-top: 20px;
}

.user-details {
  display: flex;
  align-items: baseline;
  padding-bottom: 18px;

  i {
    color: #A9592C;
    margin-right: 10px;
  }

  p {
    margin-bottom: 0;
  }
}

// order
.step-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 15px 25px 15px;
}

.step-counter-left {
  font-size: 16px;
}

.order-steps {
  display: flex;
  justify-content: end;
}

.order-step {
  width: 25px;
  height: 7px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin-right: 5px;
  transition: background-color 0.3s;
}

.order-step.active {
  background-color: #A9592C;
  border-color: #7a4020;
  color: #fff;
}

.continue-btn {
  button {
    background-color: #A9592C;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    min-width: 150px;
    min-height: 38px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #7a4020;
  }

  i {
    font-weight: 600;
  }
}

.bottom-link{
  width: 100%;
  height: 70px;
  background-color: #fff;
  margin-bottom: 20px;
}
.bottom-link .bottom-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
}
.bottom-link .bottom-btn .bottom-div{
  width: 30%;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 30px;
  p{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  i{
    font-size: 22px;
    margin-right: 10px;
  }
}
.bottom-link .bottom-btn .bottom-div:hover{
  background-color: #eaedf3;
}