<!-- <div class="modal-container">
  <div *ngIf="currentStep === 1">
      <label>Select a branch:</label>
      <select [(ngModel)]="branch">

      </select>
      <button (click)="nextStep()">Next</button>
  </div>

  <div *ngIf="currentStep === 2">
      <label>Select the type of order:</label>
      <select [(ngModel)]="orderType">

      </select>
      <button (click)="nextStep()">Next</button>
  </div>

  <div *ngIf="currentStep === 3">
      <label>Fill out the declaration:</label>
      <textarea [(ngModel)]="declaration"></textarea>
      <button (click)="nextStep()">Next</button>
  </div>

  <div *ngIf="currentStep === 4">
      <label>Select the sender:</label>
      <select [(ngModel)]="sender">

      </select>
      <button (click)="nextStep()">Next</button>
  </div>

  <div *ngIf="currentStep === 5">
      <label>Select the recipient:</label>
      <select [(ngModel)]="recipient">

      </select>
      <button (click)="finish()">Finish</button>
  </div>
</div> -->

