.container {
    width: 100%;
    padding: 50px 50px 40px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);

    h5 {
        margin-top: 25px;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 15px;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    p {
        margin-bottom: 0;
        font-size: 27px;
        font-weight: 500;
    }

    img {
        width: 35px;
        height: 35px;
    }
}

.small-container {
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dedede;
    padding: 30px 40px;
}

.delivery-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 35px;
        height: 35px;
    }

    p {
        font-weight: 700;
        font-size: 15px;
    }
}

hr {
    border: 0.5px solid #d4d4d4;
}

.user-datails {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.details {
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: left;

    p {
        font-size: 16px;
        color: #000;
        margin-bottom: 10px;
    }
}

.details-copy {
    text-align: left;

    p {
        font-size: 16px;
        color: gray;
        margin-bottom: 10px;
    }
}

.copy-all {
    text-align: right;

    p {
        font-size: 16px;
        color: gray;
        margin-bottom: 10px;
    }
}

.time {
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px;
    color: #000;
}