<div class="collapce">
  <h1>Electronics</h1>
<div class="row">

<div class="col md-3">
  <div class="card">
    <a href="/">
      <div class="photo">
        <img class="images" src="./assets/images/shops/b_h.png" alt="">
      </div>
      <div class="text">
        B&H Photo Video
        <div class="space"></div>
      </div>
    </a>
  </div>
</div>
<div class="col md-3">
  <div class="card">
    <a href="/">
      <div class="photo">
        <img class="images" src="./assets/images/shops/full-compass.jpg" alt="">
      </div>
      <div class="text">
        FullCompas
        <div class="space"></div>
      </div>
    </a>
  </div>
</div>
<div class="col md-3">
  <div class="card">
    <a href="/">
      <div class="photo">
        <img  src="./assets/images/shops/apple.png" alt="">
      </div>
      <div class="text">
        Apple
        <div class="space"></div>
      </div>
    </a>
  </div>
</div>



</div>
</div>