<div class="container">
  <div class="how_works">
    <div class="container">
      <div class="block_title">{{'doslogistic.web.home.howdoesItWork.howdoesItWork' | translate}}</div>
      <div class="steps">
        <div class="step_item">
          <div class="step_top">
            <img class="logo" src="../../../../assets/images/how-is-it-work/step1png.png" alt="img">
            <img class="line" src="../../../../assets/images/how-is-it-work/step_line.png" alt="">
          </div>

          <div class="step_title">
            <h2>
              {{'doslogistic.web.home.howdoesItWork.register.register' | translate}}
            </h2>
          </div>
          <div class="step_desc">
            {{'doslogistic.web.home.howdoesItWork.register.info' | translate}}
          </div>
        </div>
        <div class="step_item">
          <div class="step_top">
            <img class="logo" src="../../../../assets/images/how-is-it-work/step2png.png" alt="img">
            <img class="line" src="../../../../assets/images/how-is-it-work/step_line.png" alt="">
          </div>
          <div class="step_title">
            <h2>
              {{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}
            </h2>
          </div>
          <div class="step_desc">
            {{'doslogistic.web.home.howdoesItWork.shopOnline.info' | translate}}
          </div>
        </div>
        <div class="step_item">
          <div class="step_top">
            <img class="logo" src="../../../../assets/images/how-is-it-work/step3png.png" alt="img">
            <img class="line" src="../../../../assets/images/how-is-it-work/step_line.png" alt="">
          </div>
          <div class="step_title">
            <h2>
              {{'doslogistic.web.home.howdoesItWork.registerPurchases.registerPurchases' | translate}}
            </h2>
          </div>
          <div class="step_desc">
            {{'doslogistic.web.home.howdoesItWork.registerPurchases.info' | translate}}
          </div>
        </div>
        <div class="step_item">
          <div class="step_top">
            <img class="logo" src="../../../../assets/images/how-is-it-work/step4png.png" alt="img">
            <img src="" alt="">
          </div>
          <div class="step_title">
            <h2>
              {{'doslogistic.web.home.howdoesItWork.acceptIt.acceptIt' | translate}}
            </h2>
          </div>
          <div class="step_desc">
            {{'doslogistic.web.home.howdoesItWork.acceptIt.info' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>