<div class="info">
  <h1>{{'doslogistic.web.home.howdoesItWork.howdoesItWork' | translate}}</h1>
</div>
<div class="container">
  <div class="content">
    <img src="../../../../assets/images/register/registered (2).png" alt="">
    <h3 [innerHTML]="'doslogistic.web.home.howdoesItWork.register.register' | translate"></h3>
    <p>{{'doslogistic.web.home.howdoesItWork.register.info' | translate}}</p>
    <p class="link">{{'doslogistic.web.home.howdoesItWork.register.getAddress' | translate}}</p>
  </div>
  <div class="content">
    <img src="../../../../assets/images/register/online-shop (1).png" alt="">
    <h3>{{'doslogistic.web.home.howdoesItWork.shopOnline.shopOnline' | translate}}</h3>
    <p>{{'doslogistic.web.home.howdoesItWork.shopOnline.info' | translate}}</p>
    <p class="link">{{'doslogistic.web.home.howdoesItWork.shopOnline.popularStores' | translate}}</p>
  </div>
  <div class="content">
    <img src="../../../../assets/images/register/purchasing.png" alt="">
    <h3>{{'doslogistic.web.home.howdoesItWork.registerPurchases.registerPurchases' | translate}}</h3>
    <p>{{'doslogistic.web.home.howdoesItWork.registerPurchases.info' | translate}}</p>
    <p class="link">{{'doslogistic.web.home.howdoesItWork.registerPurchases.aboutDelivery' | translate}}</p>
  </div>
  <div class="content">
    <img src="../../../../assets/images/register/new-product.png" alt="">
    <h3>{{'doslogistic.web.home.howdoesItWork.acceptIt.acceptIt' | translate}}</h3>
    <p>{{'doslogistic.web.home.howdoesItWork.acceptIt.info' | translate}}</p>
  </div>
</div>

