<div class="container">
  <div class="how_works">
    <div class="container">
      <div class="block_title">Bu qanday ishlaydi?</div>
      <div class="steps">
        <div class="step_item">
          <div class="step_top">
            <img src="../../../../assets/images/how-is-it-work/step1png.png" alt="img">
            <img src="../../../../assets/images/how-is-it-work/step_line.png" alt="">
          </div>

          <div class="step_title">
            <h2>
              Ro‘yxatdan o‘ting
            </h2>
          </div>
          <div class="step_desc">
            Germaniya shaxsiy manzilni olish <br>
            uchun saytda ro‘yxatdan o‘ting. <br>
            Bu 1 daqiqa vaqt oladi.
          </div>
        </div>
        <div class="step_item">
          <div class="step_top">
            <img src="../../../../assets/images/how-is-it-work/step2png.png" alt="img">
            <img src="../../../../assets/images/how-is-it-work/step_line.png" alt="">
          </div>
          <div class="step_title">
            <h2>
              Onlayn xaridlar qiling
            </h2>
          </div>
          <div class="step_desc">
            Germaniya onlayn-do‘konlaridan <br>
            mahsulotlarga buyurtma bering <br>
            va to‘lov paytida Turondan olgan <br>
            manzilingizni kiriting.
          </div>
        </div>
        <div class="step_item">
          <div class="step_top">
            <img src="../../../../assets/images/how-is-it-work/step3png.png" alt="img">
            <img src="../../../../assets/images/how-is-it-work/step_line.png" alt="">
          </div>
          <div class="step_title">
            <h2>
              Tolov O’tqazing
            </h2>
          </div>
          <div class="step_desc">
            Xaridlaringizni shaxsiy <br>
            hisobingizda ro‘yxatdan o‘tkazing,<br>
            Visa yoki Mastercard orqali <br>
            to‘lang.
          </div>
        </div>
        <div class="step_item">
          <div class="step_top">
            <img src="../../../../assets/images/how-is-it-work/step4png.png" alt="img">
            <img src="" alt="">
          </div>
          <div class="step_title">
            <h2>
              Qabul qiling
            </h2>
          </div>
          <div class="step_desc">
            Yetkazib berish jo‘natilgan <br>
            kundan boshlab 7 kun davom <br>
            etadi. Shaxsiy kabinetda siz <br>
            etkazib berish holatini <br>
            kuzatishingiz mumkin....
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
