<div class="container">
  <div class="content">
    <div class="left">
      <div class="logo">
        <img src="../../assets/images/user-cabinet/Ellipse 35.svg" alt="">
      </div>
      <div class="userName">
        <h1>
          John Smith
        </h1>
        <h3>ID: 15236578</h3>
      </div>

      <div class="sideNav-links">
        <h2>Dashboard</h2>
        <!-- routerLinkActive="active" [routerLink]="['popularStores']" -->
        <h2 routerLinkActive="active" [routerLink]="['parcels']">Posilkalarim</h2>
        <h2 routerLinkActive="active" [routerLink]="['myAddress']">Manzillarim</h2>
        <h2 routerLinkActive="active" [routerLink]="['settings']">Sozlamalarim</h2>
        <h2>Chiqish</h2>
      </div>
    </div>

    <div class="right">
      <ng-container>
        <router-outlet>
        </router-outlet>
      </ng-container>
    </div>
  </div>
</div>
