.container {
  max-width: 1320px;
  margin: 0 auto;
}

.content {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  margin: 0;
}

.search-button{
  background-color: #058C42;
  color: #ffffff;
  border: 1px solid #058C42;
  outline: none;
  border-radius: 5px;
  padding: 3px 15px;
  font-size: 16px;
}

.left {
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 17px;
  border: 0.5px solid #058C42;
  background: #ffffff;
  width: 275px;
  height: 626px;

  .logo {
    display: flex;
    justify-content: center;

    img {
      width: 100px;
      margin-top: 40px;
    }
  }

  .userName {
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .sideNav-links {
    margin-top: 20px;
  }

  .sidenav-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .text{
      display: flex;
    }

    img {
      width: 20px;
      height: 20px;
      margin-top: 3px;
      margin-right: 15px;
    }

    h2 {
      cursor: pointer;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 15px;
    }

    h2:hover {
      color: #058C42;
    }
  }
}
.right {
  width: 75%;
}

.sidenav-text .active {
  color: #058c42;
  font-weight: 800 !important;

  img{
    background-color: #058C42;
    color: #058C42;
  }
}
