.container {
    width: 990px;

    h2 {
        color: #000;
        font-family: Inter;
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.delivery-datas {
    display: flex;
    gap: 32px;
    margin-bottom: 25px;
}

.income {
    display: flex;
    width: 430.5px;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 0.5px solid var(--Primary, #058C42);
    background: var(--grey, #F5F5F5);
    box-shadow: 0px 10px 32px 0px rgba(167, 201, 87, 0.2), 0px 2px 12px 0px rgba(167, 201, 87, 0.12);
}

.income-txt {
    h3 {
        color: #058C42;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        span {
            color: #000;
        }
    }

    p {
        color: #5F5F5F;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 0;
    }
}

.statistics {
    width: 893px;
    padding: 20px;
    border-radius: 32px;
    border: 0.5px solid #058C42;
    background-color: #F5F5F5;
    box-shadow: 0px 10px 32px 0px rgba(167, 201, 87, 0.20), 0px 2px 12px 0px rgba(167, 201, 87, 0.12);
    margin-bottom: 25px;
}

.statistics-txt {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.chart-container {
    width: 850px;
    height: 400px;
    margin-left: 20px;
    margin-bottom: -20px;
    margin-top: -60px;
}

.location {
    display: flex;
    gap: 32px;
}

.location-box {
    display: flex;
    width: 430.5px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 32px;
    border: 0.5px solid #058C42;
    background-color: #F5F5F5;
    box-shadow: 0px 10px 32px 0px rgba(167, 201, 87, 0.20), 0px 2px 12px 0px rgba(167, 201, 87, 0.12);
}

.box-txt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 0.3px solid #5F5F5F;

    span {
        color: #058C42;
        cursor: pointer;
    }
}

.location-details {
    display: flex;
    gap: 15px;
    align-items: end;
    padding-top: 20px;
}

.location-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
        margin-bottom: 19px;
    }

    p {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 10px;
    }
}