<div class="container">
    <h2>Dashboard</h2>
    <div class="delivery-datas">
        <div class="income">
            <img src="../../../../../assets/images/user-cabinet/export.svg" alt="">
            <div class="income-txt">
                <h3>Kiruvchi Posilkalar <span>26</span></h3>
                <p>Kutilayotgan va omborxonadagilar</p>
            </div>
        </div>
        <div class="income">
            <img src="../../../../../assets/images/user-cabinet/import.svg" alt="">
            <div class="income-txt">
                <h3>Chiquvchi Posilkalar <span>6</span></h3>
                <p>Yuborilgan posilkalar</p>
            </div>
        </div>
    </div>
    <div class="statistics">
        <div class="statistics-txt">
            <p>Expenses Report</p>
            <span> <img src="../../../../../assets/images/user-cabinet/chart-up-1.svg" alt=""> 58%</span>
        </div>
        <div id="main" class="chart-container"></div>
    </div>
    <div class="location">
        <div class="location-box">
            <div class="box-txt">
                <p>Polshadagi Manzil</p>
                <span><i class="fa-solid fa-location-dot"></i> Polsha</span>
            </div>
            <div class="location-details">
                <div class="location-data">
                    <img src="../../../../../assets/images/user-cabinet/address-images/user.svg" alt="">
                    <img src="../../../../../assets/images/user-cabinet/address-images/call.svg" alt="">
                    <img src="../../../../../assets/images/user-cabinet/address-images/map.svg" alt="">
                    <img src="../../../../../assets/images/user-cabinet/address-images/mail.svg" alt="">
                    <img src="../../../../../assets/images/user-cabinet/address-images/truck.svg" alt="">
                </div>
                <div class="location-data">
                    <p>Xumoyunmirzo</p>
                    <p>+1 (953) 566 56 56</p>
                    <p>10254, Avenue 12, Poland</p>
                    <p>johnsmith@gmail.com</p>
                    <p>ZIP: 102210</p>
                </div>
            </div>
        </div>
        <div class="location-box">
            <div class="box-txt">
                <p>Germaniyadagi Manzil</p>
                <span><i class="fa-solid fa-location-dot"></i> Germaniya</span>
            </div>
            <div class="location-details">
                <div class="location-data">
                    <img src="../../../../../assets/images/user-cabinet/address-images/user.svg" alt="">
                    <img src="../../../../../assets/images/user-cabinet/address-images/call.svg" alt="">
                    <img src="../../../../../assets/images/user-cabinet/address-images/map.svg" alt="">
                    <img src="../../../../../assets/images/user-cabinet/address-images/mail.svg" alt="">
                    <img src="../../../../../assets/images/user-cabinet/address-images/truck.svg" alt="">
                </div>
                <div class="location-data">
                    <p>Xumoyunmirzo</p>
                    <p>+1 (953) 566 56 56</p>
                    <p>10254, Avenue 12, Poland</p>
                    <p>johnsmith@gmail.com</p>
                    <p>ZIP: 102210</p>
                </div>
            </div>
        </div>
    </div>
</div>