<div class="info">
  <h1>Reviews</h1>
  <div class="container">
    <div class="card">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet natus exercitationem esse maiores culpa omnis corrupti ad, autem vero minus eligendi animi, recusandae officia laudantium ipsam soluta harum nostrum veniam?
        Lo
      </p>
    </div>
    <div class="card">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet natus exercitationem esse maiores culpa omnis corrupti ad, autem vero minus eligendi animi, recusandae officia laudantium ipsam soluta harum nostrum veniam?
        Lorem
      </p>
    </div>
    <div class="card">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet natus exercitationem esse maiores culpa omnis corrupti ad, autem vero minus eligendi animi, recusandae officia laudantium ipsam soluta harum nostrum veniam?
        Lorem
      </p>
    </div>
  </div>
  <div class="all">
    <button>All Reviews</button>
  </div>
</div>
