<div>
  <h1>Reviews</h1>
  <div class="info">
    <a class="prev" (click)="prevSlide();">❮</a>
    <nz-carousel nzAutoPlay>
      <div nz-carousel-content *ngFor="let slide of carouselSlides">
        <div class="container">
          <div class="card" *ngFor="let carouselItem of slide">
            <p>{{ carouselItem.text }}</p>
          </div>
        </div>
      </div>
    </nz-carousel>
    <a class="next" (click)="nextSlide();">❯</a>
  </div>
</div>
<div class="all">
  <button>{{ 'doslogistic.web.home.reviewsFromOurCustomers.allReviews' | translate }}</button>
</div>