.container{
  max-width: 1320px;
  margin: 0 auto;
}

.reviews {
	margin-bottom: 134px;
}

.reviews_block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.reviews_block .review_item {
	padding: 27px 27px 34px 27px;
	border-radius: 24px;
	border: 1px solid var(--Primary, #058C42);
	background: var(--White, #FFF);
	margin-right: 32px;
}

.reviews_block .review_item:last-child {
	margin-right: 0;

}

.reviews_block .review_item .desc {
	font-size: 16px;
	color: var(--Border-Color, #5F5F5F);
}

.reviews_block .review_item .author {
	display: flex;
	align-items: center;
}

.reviews_block .review_item .author .name {
	color: #000;
	font-size: 24px;
	margin-left: 13px;
	font-weight: 600;
}
