.container {
	max-width: 1320px;
	margin: 0 auto;
}

.card {
	height: 240px;
	margin: 0 15px;
	padding: 20px;
	border-radius: 18px;
	border: 2px solid #058C42;
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 1px 1px;
	margin-bottom: 20px;
	position: relative;
}

.card .author {
	display: flex;
	align-items: flex-end;
	padding-top: 10px;
	margin: 10px 0;
	position: absolute;
	bottom: 0;
}

.card .author .name {
	color: #000;
	font-size: 24px;
	margin-left: 13px;
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 25px;
		font-weight: 500;
	}
}