<div class="container">
  <div class="header">
    <h2 class="title">Akkaunt sozlanmalari</h2>
  </div>
  <div class="content">
    <div routerLinkActive="active-link" class="link">
      <p>Shaxsiy ma'lumot</p>
    </div>
    <div routerLinkActive="active-link" class="link">
      <p>Xabarnoma</p>
    </div>
    <div routerLinkActive="active-link" class="link">
      <p>Oluvchilar</p>
    </div>
    <div routerLinkActive="active-link" class="link">
      <p>Fayllar</p>
    </div>
  </div>
  <div class="client-box">
    <div class="client">
      <p>Piter Parker</p>
    </div>
    <div class="gmail">
      <p>piterparker@gmail.com</p>
      <a>forgotpassword</a>
    </div>
    <div class="input-field">
      <input type="text" placeholder="First Name" class="input-style" />
      <input type="text" placeholder="Last Name" class="input-style" />
    </div>
    <div class="input-field">
        <input type="text" placeholder="Birhday date" class="input-style" />
        <select [(ngModel)]="selectedUnit" class="input-style">
            <option value="Erkak">Erkak</option>
            <option value="Ayol">Ayol</option>
          </select>
    </div>
    <div class="input-field">
        <input type="number" placeholder="Telephone Number" class="input-style" />
        <button class="save">
            <p>Saqlash</p>
        </button>
      </div>
  </div>
</div>
<!-- <div class="terms-of-use">
        <div class="terms-style">
          <p>{{ "doslogistic.web.help.login.rememberMe" | translate }}</p>
        </div>
        <a>{{ "doslogistic.web.help.login.forgotpassword" | translate }}</a>
    </div> -->
