@import "styles/my-shipments-modal";

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100% !important;
  margin-top: 20px;
  border: 0.5px solid #058c42;
  border-radius: 17px;
  height: 620px;
  text-align: center;
}

@media screen and (max-width: 434px) {
  .page-routing {
    display: none !important;
  }

  .mobile{
    p{
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }

  // .page-routing {
  //   display: flex;
  //   border-bottom: 0.5px solid #8c8b8b;
  //   margin-bottom: 20px;
  //   margin-right: 4px;
  //   gap: 20px;

  //   p {
  //       color: #000000;
  //       text-align: center;
  //       font-family: Inter;
  //       font-size: 20px;
  //       font-weight: 500;
  //       cursor: pointer;
  //       margin-bottom: 13px;
  //       position: relative;

  //       &.active-link {
  //           color: #058C42;
  //       }

  //       &::before {
  //           content: "";
  //           position: absolute;
  //           bottom: -14px;
  //           left: 0;
  //           width: 0%;
  //           height: 2px;
  //           background-color: #058C42;
  //           transition: width 0.3s ease-in-out;
  //       }

  //       &:hover::before,
  //       &.active-link::before {
  //           width: 100%;
  //       }
  //   }

  //   p:hover {
  //       color: #058C42;
  //   }
  // }
}
