.container1{
  width: 1320px;
  margin: 0 auto;
  padding-top: 40px;
}

.block_title {
	color: var(--Primary, #058C42);
	text-align: center;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 64px;
}

.pricing {
	padding-bottom: 120px;
}
.pricing_block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pricing .pricing_item {
	padding: 64px 0;
	text-align: center;
	width: 100%;
	border-radius: 32px;
	margin-right: 64px;
	border: 1px solid var(--Primary, #058C42);
	background: var(--White, #FFF);
	box-shadow: 0px 10px 32px 0px rgba(167, 201, 87, 0.20), 0px 2px 12px 0px rgba(167, 201, 87, 0.12);
}
.pricing .pricing_item:last-child {
	margin-right: 0;
}
.pricing .pricing_item .pricing_top {
	position: relative;
	margin-bottom: 64px;
}
.pricing .pricing_item .pricing_top span{
	font-size: 20px;
	font-weight: 300;
	position: absolute;
	bottom: -12px;
	right: 0;
	left: 0;
}

.pricing .pricing_item .pricing_top .price {
	font-size: 64px;
	font-weight: 800;
}

.pricing_body .body_item {
	margin-bottom: 16px;
}

.pricing_item.green {
	color: #fff !important;
	background: var(--Primary, #058C42);
}

.pricing_item.green .main_button a {
	color: #058C42;
	background-color: #fff;
}
