<div class="container">
  <div class="info">
    <h1>{{'doslogistic.web.home.delivery.delivery' | translate}}</h1>
  </div>
  <div class="image">
    <img src="../../../../assets/images/airplane.jpg" alt="">
    <h1>{{'doslogistic.web.home.delivery.express' | translate}}</h1>
  </div>
  <div class="content">
    <p>{{'doslogistic.web.home.delivery.info' | translate}}</p>
  </div>
  <div class="card">
        <table>
          <thead>
            <tr>
              <th class="left">{{'doslogistic.web.home.delivery.card.country' | translate}}</th>
              <th>{{'doslogistic.web.home.delivery.card.middle' | translate}}</th>
              <th>{{'doslogistic.web.home.delivery.card.price' | translate}}</th>
              <th>{{'doslogistic.web.home.delivery.card.minPrice' | translate}}</th>
              <th>{{'doslogistic.web.home.delivery.card.max' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="left">Geman Экспресс</td>
              <td>≈ 5-10 раб. дней	</td>
              <td>12</td>
              <td>1.2</td>
              <td>12</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
