<footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">DostLogistic</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">{{'doslogistic.web.footer.aboutCompony.aboutCompony' | translate}}</li>
          <li><a href="#">{{'doslogistic.web.footer.aboutCompony.aboutUs' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.aboutCompony.price' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.aboutCompony.news' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.aboutCompony.services' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.aboutCompony.customers' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.aboutCompony.contacts' | translate}}</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">{{'doslogistic.web.footer.forCustomers.forCustomers' | translate}}</li>
          <li><a href="#">{{'doslogistic.web.footer.forCustomers.discounts' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.forCustomers.shipmentTracking' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.forCustomers.help' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.forCustomers.purchaseSupport' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.forCustomers.restrictionsAndProhibitions' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.forCustomers.popularStores' | translate}}</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">{{'doslogistic.web.footer.useful.useful' | translate}}</li>
          <li><a href="#">{{'doslogistic.web.footer.useful.deliveryOfParcels' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.useful.sendingParcels' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.useful.customsLimits' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.useful.shipmentInsurance' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.useful.tableOfMeasurements' | translate}}</a></li>
          <li><a href="#">{{'doslogistic.web.footer.useful.calculationOfCosts' | translate}}</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">{{'doslogistic.web.footer.contacts.haveQuestions' | translate}}</li>
          <li>
            <p class="city">{{'doslogistic.web.footer.contacts.germeny' | translate}}</p>
            <i class="fa-solid fa-phone fa-beat" style="color: #ffffff;"></i>
            <a class="tel" href="#">+13476735700</a>
            <p class="hours">{{'doslogistic.web.footer.contacts.hours' | translate}}</p>
          </li>
          <li>
            <p class="city">{{'doslogistic.web.footer.contacts.uzbekistan' | translate}}</p>
            <i class="fa-solid fa-phone fa-beat" style="color: #ffffff;"></i>
            <a class="tel" href="#">+998909009090</a>
            <p class="hours">{{'doslogistic.web.footer.contacts.hours' | translate}}</p>
          </li>
          <li>
            <i class="fa-solid fa-envelope fa-beat" style="color: #ffffff;"></i>
            <a href="#">info@dostLogistic.uz</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">{{'doslogistic.web.footer.copywriting.copywriting' | translate}}</span>
        <span class="policy_terms">
          <a href="#">{{'doslogistic.web.footer.copywriting.termsOfUse' | translate}}</a>
        </span>
      </div>
    </div>
  </footer>
