<div class="container">
  <div class="content">
    <div class="logo">
      <h1>Logo</h1>
      <p>10 kundan kamroq vaqt ichida AQShdan tezkor va ishonchli posilkalar yetkazib berish!</p>
      <div class="social-media">
        <p><span>Text link</span></p>
        <div class="social-media content">
          <p>logo</p>
          <p>logo</p>
          <p>logo</p>
          <p>logo</p>
        </div>
      </div>
    </div>
    <div class="aboutus">
      <h2>Kompaniya haqida</h2>
      <p>Biz haqimizda</p>
      <p>Tariflar va narxlar</p>
      <p>Yangiliklar</p>
      <p>Xizmatlarimiz</p>
      <p>Mijozlarimiz</p>
      <p>Kontaktlar</p>
    </div>
    <div class="for-customers">
      <h2>Xaridorlarga</h2>
      <p>Chegirmalar</p>
      <p>Jo‘natmalarni kuzatish</p>
      <p>Yordam</p>
      <p>Xarid ko'magi</p>
      <p>Cheklovlar va taqiqlar</p>
      <p>Ommabop do'konlar</p>
    </div>
    <div class="useful">
      <h2>Foydali</h2>
      <p>Posilkalarni yetkazish</p>
      <p>Posilkalarni yuborish</p>
      <p>Bojxona limitlari</p>
      <p>Jo'natmalarni sug'urtalash</p>
      <p>O‘lchovlar jadvali</p>
      <p>Xarajatlarni hisoblash</p>
    </div>
    <div class="questions">
      <h2>Savollar bormi?</h2>
      <p>New York, USA</p>
      <p>+1 347 673 57 00
        from 09:00 AM to 20:00 PM</p>
      <p>+998 71 200 34 33
        09:00 dan 20:00 cha</p>
      <p> info@turonexpress.com</p>
    </div>
  </div>
</div>

